PORT=5000
DB_URL= mongodb+srv://db_username:db_password@cluster0.ts8x6gb.mongodb.net/tour-manage?appName=Cluster0
NODE_ENV=development
#jwt
JWT_ACCESS_SECRET = access_secret
JWT_ACCESS_EXPIRES=id
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRES=30d

#BCRYPT
BCRYPT_SALT_ROUND=10

#SUPER ADMIN
SUPER_ADMIN_EMAIL =superadmin@gmail.com
SUPER_ADMIN_PASSWORD =12345678

#Google
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRETgit 
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/google/callback

#Express Session
EXPRESS_SESSION_SECRET=express-session

#Frontend uel
FRONTED_URL=http://localhost:5173